<template name="header">
  <div class='banderolle'>
    <div class=' couleur couleur1'></div>
    <div class=' couleur couleur2'></div>
    <div class=' couleur couleur3'></div>
    <div class=' couleur couleur4'></div>
  </div>
  <div class='titre'>UNE HISTOIRE SIMPLE
    <div class="sous-titre">
      <span class='st_1'>Un film</span><span class='st_2'>Transmedia</span><span class='st_3'>Interactif</span><span class='st_4'>Collectif</span><span class='st_5'>Territorial</span>
    </div>
  </div>
  {{#if currentUser}}
  <!-- <nav class="navbar navbar-default" role="navigation">
    <div id="cssmenu">
    <a href="#" class="logout">Logout</a>
      <ul>
        <li><a href="#" class="logout">Logout</a></li>
        <li class="has-sub "><a href="#">Films</a>
          <ul>
            <li><a href="{{pathFor 'filmSubmit'}}">Créer un post</a></li>
            <li class=" "><a class="navbar-brand" href="{{pathFor 'filmsList'}}">Films</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav> -->
  {{/if}}
</template>
