<template name="header">
  {{#if currentUser}}
  <nav class="navbar navbar-default" role="navigation">
    <div id="cssmenu">
      <ul>
        <li><a href="#">{{> loginButtons}}</a></li>
        <li class="has-sub "><a href="#">Films</a>
          <ul>
            <li><a href="{{pathFor 'filmSubmit'}}">Créer un post</a></li>
            <li class=" "><a class="navbar-brand" href="{{pathFor 'filmsList'}}">Films</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  {{/if}}
</template>
