<template name="questionnaireOverlay">

        <div class="overlay">
            <div class="in_overlay">
            	<div class='dependance_add_container'>
                    <div class="nb_answers"><p>Nombre de réponse : <span id="nb_of_answers"></span>
                        <button class="btn_add_answer">+</button>
                        <button class="btn_remove_answer">-</button>
                    </p>
                    </div>
                        <form class="new_question" id="new_question_form">

                                <div>
                                    <input type="text" id="questionId" name="question" placeholder="Entrez votre question ici" />
                                </div>
                                <div>
                                    <input type="text" id ="answer_1" name="answer_1" placeholder="Choix par défaut" />
                                    <select id="select_media_output_1">
                                      <option value="null"></option>
                                    </select>
                                </div>

                         </form>
                    
                 </div>
                 <div class='dependance_add_button'>     
                        <button class="btn_validate_form"> validation</button>
                        <button class="btn_exit_form"> annuler</button>
                 </div>
            </div>
        </div>
        </template>
        
        
        