<template name="questionnaireOverlay">

        <div class="overlay">
            <div class="in_overlay">
            	<div class='connect_container'>
                    <div class="nb_answers">Nombre de réponse : <span id="nb_of_answers"></span>
                        <button class="btn_add_answer"> +</button>
                        <button class="btn_remove_answer"> -</button>

                    </div>
                        <form class="new_question" id="new_question_form">

                                <input type="text" id="questionId" name="question" placeholder="Entrez votre question içi" />
                                <input type="text" id ="answer_1" name="answer_1" placeholder="Choix par défaut" />

                         </form>
                    
                 </div>
                 <div class='connect_button'>     
                                <button class="btn_validate_form"> validation</button>
                 </div>

                <button class="btn_exit_form"> annuler</button>
            </div>
        </div>
        </template>
        
        
        