.fullscreen{
  width: 100%;
  height: 100%;
  text-align: center;
}

.inner-fullscreen{
  border: 1px solid black;
  display: inline-block;
  position: relative;
}

.videoPlayer-choix{
  position: absolute;
      left: 0px;
      top : 45%;
      margin: 5%;
      padding: 25px 25px;
      font-size: 20px;
      font-family: Helvetica;
      color: #FFF;
      min-height: 30%;
      min-width: 85%;
      background-color: rgba(50, 50, 50, 0.3);
}

.videoPlayer-bloc-question{
  min-width: 70%;
  height: 80%;
  margin-bottom: 20%;
  border: blue solid 1px;
}

.videoPlayer-question{

}

.videoPlayer-reponses{
  border: purple solid 1px;
  display: flex;
  flex-direction: row;
}

.videoPlayer-reponse{
  border: green solid 1px;
  margin: 0 auto;
}

.videoPlayer-reponse:hover{
  cursor: pointer;
}

.videoPlayer-bloc-loader{
  min-width: 90%;
  height: 4px;
  border: red solid 1px;
}

.loader-line{
  width:0px;
  height: 100%;
  background-color: blue;
}
