.fullscreen{
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay {
  display: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.in_overlay {
  position: relative;
}

.film-player{
  background-color: black;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
}

.inner-fullscreen{
  border: 1px solid black;
  display: inline-block;
  position: relative;
  width: 80vw;

}

::-webkit-scrollbar {
    display: none;
}

.videoPlayer-choix{
  position: absolute;
      left: 0px;
      top : 45%;
      margin: 8%;
      margin-top: 31%;
      padding: 25px 25px;
      font-size: 20px;
      font-family: Helvetica;
      color: #FFF;
      min-height: 30%;
      min-width: 85%;
      background-color: rgba(50, 50, 50, 0.3);
      z-index: 999;


}

.videoPlayer-bloc-question{
  min-width: 70%;
  height: 80%;
  margin-bottom: 8%;
  color: white;
  /* border: blue solid 1px; */
  font-size: 1.2em;
}

.vplayer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900 ;
  }

.active-button{
  background-color: blue;
  /* border-color: blue; */
}

.videoPlayer-question{

}

.videoPlayer-reponses{
  /* border: purple solid 1px; */
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  color: white;
}

.videoPlayer-reponse{
  /* border: green solid 1px; */
  margin: 0 auto;
  padding: 9px
}

.videoPlayer-reponse:hover{
  cursor: pointer;
}

.videoPlayer-bloc-loader{
  min-width: 90%;
  height: 4px;
  border: blue solid 1px;
}

.loader-line{
  width:0px;
  height: 100%;
  background-color: blue;
}

.container_film_actif{
    position: relative;
    height: calc(100% - 60px);
}
.film_list_added_elements{
  display: flex;
  position: relative;
  height: 30%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #62CEE2;
}

.film_list_added_elements i {
    font-size: 10em;
    margin-top: 30px;
    margin-left: 10px;
}

.arrow_button_list_added, .arrow_button_right {
    position: relative;
    display: flex;
    align-items: center;
    width: 7.5%;
}

.arrow_button_list_added > img, .arrow_button_right > img{
    position: relative;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.film_list_container{
    position: relative;
    display: block;
    width: 85%;
    height: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #FFFFFF;
}

.film_added_element{
    position: relative;
    display: inline-block;
    height: 85%;
    margin-top: 1%;
    width: 15%;
    margin-left: 2%;
}

.film_added_element_preview{
    position: relative;
    display: block;
    width: 100%;
    height: 75%;
}

.film_element_img{
    height: 65%;
    text-align: center;
}

.film_element_img > *{
    height: 65%;
    width: 65%
}

.film_element_titre{
    display: block;
    position: relative;
    text-align: center;
    font-size: 2vh;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: Calibri;
}

.film_element_data{
    text-align: center;
    font-size: 1.5vh;
    font-family: Calibri;
}

@font-face {
	font-family: "Roboto";
	src: url('/police/Roboto-Thin.ttf');
}



/* PRORIETES CSS PAGE HOME */

.titre_container{
  position: relative;
  display: block;
  height: 70px;
}

.titre_home{
  margin-top: 0px!important;
}

.application{
  display: block;
  position: relative;
  height: 100%;
}

.liste_films{
  position: relative;
  display: inline-block;
  height: 60px;
  width: 100%;
}

.film{
  -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  position: relative;
  display: inline-block;
  float: left;
  cursor: pointer;
  width: auto;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: Calibri;
  background-color: #f28e2b;
  color: white;
  text-overflow: ellipsis;
  overflow-y: hidden;
  vertical-align: top;
  border-right: solid 1px white;
}
.film a{
  text-decoration: none;
}
.onglet_film_actif{
  height: 50px;
  color: white!important;
  font-weight: 600;
}
.liste_films--title{

}
.film:hover{
  opacity: 0.8;
}

.selection{
  background-color: #c87523;
}

.film_active{
  background-color: #cecece;
}

.add_film{
  position: relative;
  display: inline-block;
  float: left;
  cursor: pointer;
  width: 60px;
  height: 61px;
  background-color: #f28e2b;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.add_film:hover{
  opacity: 0.8;
}

.add_film > img{
  display: block;
  position: relative;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.film_details_container{
  width: 100%;
  height: calc(100% - 60px);
  background-color: white;
  margin-top: -4px;/*permet de coller le conteneur aux onglets de films*/
}

.titre_film{
  position: relative;
  display: block;
  font-family: 'Roboto';
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
}

.film_details{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.film_modif_container{
  position: relative;
  display: flex;
  height: 70%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.film_details_container_left{
  display: flex;
  height: 80%;
  margin-right: 2%;
  margin-top: 3%;
}

.film_video{
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  background-color: #cecece;
  margin-right: 2%;
}

.film_video > video {
  width: 100%;
}

.film_details_container_right{
  display: flex;
  flex-grow: 2;
  height: 80%;
  margin-left: 2%;
  margin-top: 3%;
}

.film_connexion_structure{
  position: relative;
  display: flex;
  background-color: #cecece;
  flex-grow: 2;
  min-width: 400px;
  margin-right: 3%;
}

.film_launch{
  position: relative;
  display: flex;
  margin-left: 3%;
  cursor: pointer;
  max-width: 140px;
}

.film_launch:hover{
  opacity: 0.8;
}

.film_launch img{
  position: relative;
    height: 30%;
  width: auto;
  margin-top: auto;
    margin-bottom: auto;
  }

.film_connexion_structure_button{
  position: relative;
  display: flex;
  height: 20%;
  margin-top: 5%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.film_list_added_elements i:hover{
    opacity: 0.6;
    cursor: pointer;
}

.arrow_button_list_added {
    cursor:pointer;
}

.arrow_button_list_added:hover{
  opacity: 0.8;
}
.film_add_elements_onglets {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 6px;
}

.film_add_elements {
    flex: 1;
    flex-direction: column;
}

.film_add_element_onglet {
    display: flex;
    width: 50%;
}

.film_add_elements_ajout {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}

.film_add_elements_ajout_folder,.film_add_elements_ajout_describe,.film_add_elements_ajout_title{
    font-size: 1.5em;
}

.fa-plus,
.fa-check-elem {
    text-transform: uppercase;
    padding-left: 40px;
    padding-top: 10px;
    cursor: pointer;
}

.add_media_button, .edit_media_button {
    font-family: "Roboto";
    font-weight: bold;
}

.fa-tags {
    margin-top: 5px;
}

.ajout_parcourir,
.ajout_title {
    margin-left: 15px;
}

.ajout_description {
    position: relative;
    margin-left: 15px;
    height: 1.3em;
    max-height: 50px;
    min-width: 240px;
    max-width: 240px;
}

.ajout_jeu,
.ajout_video {
    font-family: Roboto;
    font-weight: bold;
    text-transform: uppercase;
    font-size:0.8em;
}

.ajout_video,
.ajout_jeu {
    text-transform: uppercase;
    padding-left: 10px;
}

.element_validate{
  height: 40px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.element_validate_add{
  background-color: #D1D85E;
}
.element_validate_modif{
  background-color: #95D6AB;
}
.element_validate input{
  border: none!important;
  background-color: unset;
  font-size: 1.4em;
  color: white;
  position: relative;
  height: 100%;
  width:100%;
}
.fa-circle{
    font-size: 1em;
}

.onglet{
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    width: 40%;
    color: white;
}

.onglet_content_text{
  position: relative;
  text-align: center;
  height: 50%;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.onglet_actif{
    color: white;
    width: 60%!important;
}
.onglet_add{
  background-color: #D1D85E;
}
.onglet_modif{
  background-color: #95D6AB;
}

.contenu_onglet{
    display: none;
    position: relative;
    flex-direction: column;
    height: calc(100% - 40px);
    background-color: #EFEFEF;
}

.film_modif_ajout_onglets{
    position: relative;
    display: flex;
    height: 40px;
}

.contenu_add_elem{
    display: block;
    position: relative;
    height: 100%;
}

.film_add_video,.film_add_jeuvideo{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}

.film_add_video form,.film_add_jeuvideo form{
    position: relative;
    width: 100%;
    height: 100%;
}

.film_add_jeuvideo > form img,.film_add_video >form img{
  height: 25px;
}

.film_add_elements_ajout_title,.film_add_elements_ajout_describe,.film_add_elements_ajout_folder{
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.film_add_jeuvideo > form input,.film_add_video > form input,.film_add_jeuvideo > form textarea,.film_add_video > form textarea{
  border: none;
  border-bottom: solid 1px #4B4C60;
  background-color: unset;
}

#uploadfilm{
  border: none!important;
}

.film_add_radio{
  display: flex;
  align-items: center;
}
.film_add_radio span{
  display: flex;
}
.film_add_radio img{
  height: 25px;
}

.film_add_radio > img.inactive{
  display: flex;
}
.film_add_radio >img.active{
  display: none;
}

.film_add_onglet_actif > img.active{
    display: flex!important;
}
.film_add_onglet_actif > img.inactive{
  display: none!important;
}

.film_add_elem_active{
    display: flex!important;
}

.contenu_onglet_actif{
    display: flex!important;
}

.ajout_video,.ajout_jeu{
    cursor:pointer;
}
.popup_ajout--film{
    position: absolute;
    z-index: 2;
    background-color: #f28e2b;
    left: calc(30% - 7.5px);/*on retire la moitié du padding*/
    top : 18%;
    min-width: 40%;
    width: auto;
    border-radius: 10px;
    font-family: Roboto;
    text-align: center;
    padding: 15px;
}

.popup_ajout_film{
  position: relative;
    display: flex;
    flex-direction: row;
    background-color: #cfd759;
    padding:30px;
    width: calc(100% - 60px);
    margin-bottom: 5%;
}
.popup_ajout_img_container,.popup_form_group_container{
  display: flex;
  flex-direction: column;
}
.popup_ajout_film input, .popup_ajout_film textarea{
  position: relative;
  height: 35px;
  font-size: 22px;
  background-color: transparent;
  border: none;
  width: 100%;
  border-bottom: solid 2px white;
  color: white;
}

.popup_ajout_film input:focus, .popup_ajout_film textarea:focus{
  outline: none;
}

.popup_ajout_film input::placeholder, .popup_ajout_film textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
}

.popup_ajout_film input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.popup_ajout_film input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.popup_ajout_film_titre{
  color: white;
  position: relative;
  font-size: 1.5em;
  font-weight: 900;
}

.popup_ajout_img{
  position: relative;
  margin-right: 7%;
}

.popup_ajout_img img{
  height: 135px;
  width: auto;
}

.popup_ajout_label{
  position: relative;
  display: flex;
  align-items: center;
}

.form-group:nth-child(2){
  margin-top: 30px;
}

.popup_ajout_label span{
  position: relative;
  color: white;
  text-align: left;
}

.popup_ajout_label label{
  width: 35%;
  font-size: 25px;
  font-weight: 900;
}

.popup_ajout_label .controls{
  min-width: 60%;
}
*/
.valider_text_film{
    font-family: Roboto;
    margin-left: 15px;
}

.fa-check-v {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:10px;
    padding-right:10px;
    background-color: #cfd759;
    color: white;
    border-radius: 15px;
    font-size: 27px;
    border: solid 3px transparent;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fa-check-v:hover{
    cursor: pointer;
    padding-left: 12px!important;
    padding-right: 12px!important;
    border: solid 3px white!important;
}

.fa-times-close{
    background-color: black;
    color: white;
    position: absolute;
    right: -5px;
    top: -5px;
    padding: 3px 5px 3px 6px;
    border-radius: 50px;
}

.fa-times-close:hover{
    color: red;
    cursor: pointer;
}
.container_film_hidden{
    display: none;
}
#main{
  position: relative;
  height: calc(100% - 130px);
}
.container{
  position: relative;
  height: 100%;
}
.dependance_add_container .nb_answers{
  text-align: center;
}
.dependance_add_container form.new_question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dependance_add_container form.new_question > div{
  display: flex;
  flex-direction: row;
}
.dependance_add_container form.new_question > div:first-child{
  width: 90%!important;
}
.dependance_add_container form.new_question > *{
  position: relative;
  width: 70%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dependance_add_container form.new_question > * input{
  position: relative;
  width: 210px;
}
.dependance_add_container form.new_question > * input:first-child{
  width: 100%!important;
  text-align: center;
}
.dependance_add_button{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding-top: 5px;
 padding-bottom: 5px;
}