<!-- <template name="mediaSubmit">
  <form name="comment" class="comment-form form">
    <div class="form-group {{errorClass 'body'}}">
      <div class="controls">
        <label for="body">Réagir à ce film</label>
        <textarea name="body" id="body" class="form-control" rows="3"></textarea>
        <span class="help-block">{{errorMessage 'body'}}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
</template> -->


<template name="mediaSubmit">
  <div class='film_add_elements'>
      <div class='film_modif_ajout_onglets'>
          <div class='onglet onglet_actif onglet_add'>
              <div class='onglet_content_text' style="cursor:pointer;">Ajout média</div>
          </div>
          <div class='onglet onglet_modif'>
              <div class='onglet_content_text' style="cursor:pointer;">Modifier</div>

          </div>
      </div>
      <div class="contenu_onglet contenu_onglet_add contenu_onglet_actif">
          <div class='film_add_elements_onglets'>
              <div class='film_add_video_onglet film_add_radio film_add_onglet_actif'>
                  <img class='active' src='/img/rond_plein.png'>
                  <img class='inactive' src='/img/rond_vide.png'>
                  <span class="ajout_video">Vidéo</span>
              </div>
              <div class='film_add_jeuvideo_onglet film_add_radio'>
                  <img class='active' src='/img/rond_plein.png'>
                  <img class='inactive' src='/img/rond_vide.png'>
                  <span class="ajout_jeu">Jeu Vidéo</span>
              </div>
          </div>
          <div class="contenu_add_elem">

              <div class="film_add_video film_add_elem_active">
                <form>
                  <div class="film_add_elements_ajout_folder">
                      <img src='/img/directory_icon.png'>
                      {{> uploadForm}}
                  </div>

                  <div class="film_add_elements_ajout_title">
                    <img src='/img/title_icon.png'>
                      <input type="text" id="titre_film" value="" class="ajout_title" placeholder=" Titre du film"/><span class="error_film" style="color:red;font-family: Calibri;font-size:12px;margin-left:5px;"></span>
                  </div>

                  <div class="film_add_elements_ajout_describe">
                      <img src='/img/description_icon.png'>
                      <textarea class="ajout_description" id="description_film" placeholder="Description du film (facultatif)"></textarea>
                  </div>
                  <div style='position: relative;width:100%;height:40px;'></div>

                  <div class="element_validate element_validate_add">
                      <input type='submit'  class="ajouter_text" id="testclick" value="Ajouter">
                  </div>
                  </form>
              </div>

              <div class="film_add_jeuvideo">
                  <form>
                    <div class="film_add_elements_ajout_folder">
                      <img src='/img/directory_icon.png'>
                        {{> uploadForm}}
                    </div>

                    <div class="film_add_elements_ajout_title">
                        <img src='/img/title_icon.png'>
                        <input type="text" id="titre_jeu" value="" class="ajout_title" placeholder=" Titre du film" /><span class="error_jeu" style="color:red;font-family: Calibri;font-size:12px;margin-left:5px;"></span>
                    </div>

                    <div class="film_add_elements_ajout_describe">
                        <img src='/img/description_icon.png'>
                        <textarea class="ajout_description" id="description_jeu" value="" placeholder="Description du jeu (facultatif)"></textarea>
                    </div>

                    <div style='position: relative;width:100%;height:40px;'></div>

                    <div class="element_validate element_validate_add">
                        <input type='submit'  class="ajouter_text" id="click_jeu" value="Ajouter">
                    </div>
                  </form>
              </div>
          </div>
      </div>

      <div class="contenu_onglet contenu_onglet_modif">
          <p style="font-family: Calibri;text-align: center;margin-top:0px;">Sélectionnez un média à modifier</p>
          <div class="film_add_elements_ajout_title">
              <i class="fa fa-tags" aria-hidden="true"></i>
              <input type="text" id="media_modif_title" value="" class="ajout_title" placeholder=" Titre" />
          </div>

          <div class="film_add_elements_ajout_folder">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <button style="margin-left: 22px;" type="submit">Supprimer le média</button>
          </div>

          <div class="film_add_elements_ajout_describe">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <textarea class="ajout_description" id="media_modif_describ" value="" placeholder="Description..."></textarea>
          </div>

          <div style='position: relative;width:100%;height:40px;'></div>

          <div class="element_validate element_validate_modif">
              <input type='submit' class="valider_text" value="Valider">
          </div>
      </div>

  </div>
</template>
