<!-- <template name="mediaItem">
  <li>
    <h4>
      <span class="author">{{author}}</span>
      <span class="date">on {{submittedText}}</span>
    </h4>
    <p>{{body}}</p>
  </li>
</template> -->

<template name="mediaItem">
    <div class='film_added_element draggable' id='media_{{_id}}'>
        <div class='film_element_img'>
          <img class='film_element_img_image' src='{{#unless isGame}}/img/exemple_video.png{{else}}/img/manette.jpg{{/unless}}'>
        </div>
        <div class='film_element_titre'>{{title}}</div>
        <div class='film_element_data'>{{duree}}</div>
    </div>
</template>
