<!-- <template name="filmSubmit">
    <form class="main form page">
        <div class="form-group {{errorClass 'url'}}">
          <label class="control-label" for="url">URL</label>
          <div class="controls">
              <input name="url" id="url" type="text" value="" placeholder="Votre URL" class="form-control"/>
              <span class="help-block">{{errorMessage 'url'}}</span>
            </div>
        </div>
      <div class="form-group {{errorClass 'title'}}">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
              <input name="title" id="title" type="text" value="" placeholder="Nommez votre film" class="form-control"/>
              <span class="help-block">{{errorMessage 'title'}}</span>
          </div>
        </div>
      <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template> -->


<template name="filmSubmit">
  <div class="popup_ajout--film">
    <form class="main form page">
      <i class="fa fa-times fa-times-close" aria-hidden="true"></i>
      <h3 class='popup_ajout_film_titre'>Création d'un nouveau film</h3>
      <div class="popup_ajout_film">
        <div class='popup_ajout_img_container'>
          <span class='popup_ajout_img'><img src='/img/app_photo.png'></span>
        </div>
        <div class='popup_form_group_container'>
        <div class="form-group {{errorClass 'title'}}">
          <span class='popup_ajout_label'>
            <label class="control-label" for="title"><span>Titre</span></label>
            <div class="controls">
              <span><input type="text" class="popup_ajout_film--input-title" name="title" id="title" value="{{title}}" placeholder="Titre du film" /></span>
              <span class="help-block">{{errorMessage 'title'}}</span>
            </div>
          </span>
        </div>
        <div class="form-group {{errorClass 'description'}}">
          <span class='popup_ajout_label'>
            <label class="control-label" for="description"><span>Synopsis</span></label>
            <div class="controls">
              <span><textarea type="text" class="onglet_ajout_film--input-description" name="description" id="description" value="{{description}}" placeholder="Synopsis du film" ></textarea></span>
              <span class="help-block">{{errorMessage 'description'}}</span>
            </div>
          </span>
        </div>
      </div>
      </div>
      <i class="fa fa-check fa-check-v" aria-hidden="true"><input type="submit" value="Valider" class="valider_text_film submit"/></i>
    </form>
  </div>
</template>
