<template name="filmItem">
  <div class="film rTableRow rTableRow-Films film-content">
      <div class="rTableCell rTableCell-Films">
        <h3 ><a href="{{url}}">{{title}}</a><span>url : {{domain}}</span></h3>
        Rédigé par {{author}},
      </div>
      <div class="rTableCell rTableCell-Films">
        <a href="{{pathFor 'filmPage'}}">{{sequencesCount}} sequences</a>
      </div>

      <div class="rTableCell rTableCell-Films">
          {{#if ownPost}}<a href="{{pathFor 'filmEdit'}}">Edit</a>{{/if}}
      </div>

      <div class="rTableCell rTableCell-Films">
          <a href="{{pathFor 'filmPage'}}" class="discuss btn btn-default">Discuss</a>
      </div>
  </div>
</template>
