<template name="loginPage">

	<div class='connect_container'>
    <form>
      <div class='connect_titre'><img class='connect_img' src='/img/connect1.png'><div class='connect_titre_text'>Authentification</div></div>
      <div class='connect_input'><div class='connect_img_container'><img class='connect_input_img' src='/img/username.png'></div><input class='connect_input_text' id='username' name='loginEmail' type='email'></div>
		  <div class='connect_input'><div class='connect_img_container'><img class='connect_input_img' src='/img/password.png'></div><input class='connect_input_text' id='password' name='loginPassword' type='password'></div>
		  <div class='connect_error'>Identifiant incorrect</div>
		  <div class='connect_button'><input type='submit' value='Connexion' class='connect_inner_button'></div>
    </form>
	</div>
    <div class='loading_gif'><img src='/img/check-gif.gif' ></div>
    <div class='connect_button'><input  onclick="displayLogin()"  value="S'inscrire" class='connect_inner_button'></div>

    <script>
    function displayLogin() {
    var x = document.getElementById("login_div");
    x.style.display = "none";

    var y = document.getElementById("register_div");
    y.style.display = "block";
    } 
    </script>


</template>
