<template name="registerPage">

    <div class='connect_container'>
    <form>
    <div class='connect_titre'><img class='connect_img' src='/img/connect1.png'><div class='connect_titre_text'>Inscription</div></div>
    <div class='connect_input'><div class='connect_img_container material-icons'>account_circle</div><input class='connect_input_text' id='surname' name='registerSurname' type='text' placeholder="Nom"></div>
    <div class='connect_input'><div class='connect_img_container material-icons'>account_circle</div><input class='connect_input_text' id='name' name='registerName' type='text' placeholder="Prénom"></div>
    <div class='connect_input'><div class='connect_img_container material-icons'>email</div><input class='connect_input_text' id='email' name='registerEmail' type='email' placeholder="Email"></div>
    <div class='connect_input'><div class='connect_img_container material-icons'>lock</div><input class='connect_input_text' id='password' name='registerPassword' type='password' placeholder="Password"></div>
    <div class='connect_error' id="connect_error_register"></div>

		 <div class='connect_button'><input type='submit' value='Valider' class='connect_inner_button'></div>
    </form>
    </div>

    <div class='connect_button'><input  onclick="displayRegister()"  value="Se Connecter" class='connect_inner_button'></div>

    <script>
    function displayRegister() {
    var x = document.getElementById("register_div");
    x.style.display = "none";

    var y = document.getElementById("login_div");
    y.style.display = "block";
    } 
    </script>

</template>
